@model IEnumerable<EmployeeArrivalTracker.Client.Models.ViewModels.EmployeeIndexViewModel>

<div class="row">
    <table class="table table-striped table-bordered dataTable no-footer" id="employees-table">
        <thead>
            <tr class="info">
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SurName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArrivalDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.SurName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Role)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.ArrivalDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
